@using WebReferenceSite.Mvc.Models.ViewModels
@model WebReferenceSite.Mvc.Models.ViewModels.FolderContentsViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="ViewContents">
<h1>Folder Contents Page</h1>
<div  id="PcContents">
        <div id="path-tracker" >
                <div class="container">
                    <div class="row">
                        <div class="col big-box">
                            <textarea id="textarea-path" rows=3 style="overflow-y:scroll;" class="col">@Model.SelectedFolderPath</textarea>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="dropdown col" style="padding-left:0px;">
                                      <button type="button" class="btn btn-primary dropdown-toggle col-md-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Navigation Actions
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}", @Model.CurrentFolderId)><span class="glyphicon glyphicon-folder-open"></span> Open Selected Directory</a>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}", @Model.ParentFolderId)><span class="glyphicon glyphicon-level-up"></span> Open Parent Directory</a>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId=1", @Model.RootFolderId)><span class="glyphicon glyphicon-level-up"></span> Open Root Directory</a>                                       
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-tags"></span> Tag View</a>                                       
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}&only=all", @Model.CurrentFolderId)><span class="glyphicon glyphicon-folder-open"></span><span class="glyphicon glyphicon-filter"></span> Show Folders and Files</a>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}&only=folders", @Model.CurrentFolderId)><span class="glyphicon glyphicon-folder-open"></span><span class="glyphicon glyphicon-filter"></span> Show Folders ONLY</a>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}&only=files", @Model.CurrentFolderId)><span class="glyphicon glyphicon-file"></span><span class="glyphicon glyphicon-filter"></span> Show Files ONLY</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/FolderCreateRename?folderId=0&parentId={0}", @Model.ParentFolderId)><span class="glyphicon glyphicon-folder-open"></span> CREATE Sibling Directory</a>
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/FolderCreateRename?folderId={0}&parentId={1}", @Model.CurrentFolderId, @Model.ParentFolderId)><span class="glyphicon glyphicon-folder-open"></span> RENAME Current Directory</a>
                                        <a class="dropdown-item" href=@string.Format("/FileContents/FileContents?folderId={0}&parentId={1}", @Model.CurrentFolderId, @Model.ParentFolderId)><span class="glyphicon glyphicon-file"></span> CREATE File</a> 
                                      </div>
                                </div>
                            </div>
                            <div style="margin-right:5%;" class="row">
                                <input id="tag-input" placeholder="Tag Name" class="col-md-6" />
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div id="folder-contents">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-tags"></span> Group Membership</th>
                        <th>Has Account Info</th>
                        <th>
                            <div>
                                Name
                                <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href=@string.Format("/FolderContents/GetFolderContents?folderId={0}", @Model.ParentFolderId)><span class="glyphicon  glyphicon-sort-by-alphabet"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>Sort DESC</a>                              
                                        </div>
                                 </div>
                             </div>
                        </th>
                        <th>Contained Items</th>
                        <th>
                            Updated
                            <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Sort DESC</a>                              
                                        </div>
                            </div>
                        </th>
                        <th>
                            Created
                            <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Sort DESC</a>                              
                                        </div>
                            </div>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FolderGridItemsViewModel gridRow in @Model.GridRows)
                    {
                        @if (gridRow.IsFolder)
                        {
                            <tr>
                                <td>
                                    <p></p>
                                </td>
                                <td>
                                    <p></p>
                                </td>
                                <td>
                                    <a href=@string.Format("/FolderContents/GetFolderContents?folderId={0}", gridRow.CurrentId) class="btn btn-link">
                                        @gridRow.FolderName
                                    </a>
                                </td>
                                <td>
                                    <p><span class="glyphicon glyphicon-folder-open"></span> @gridRow.CountOfFoldersContained Folders</p>
                                    <p><span class="glyphicon glyphicon-file"></span> @gridRow.CountOfFilesContained Files</p>
                                </td>
                                <td>
                                    <p>@gridRow.UpdatedTimeStamp.ToString()</p>
                                </td>
                                <td>
                                    <p>@gridRow.CreatedTimeStamp.ToString()</p>
                                </td>
                                <td>
                                    <div class="dropdown col">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu">                                      
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderMove?folderId={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-transfer"></span> Move Directory</a>
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderCreateRename?folderId={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-pencil"></span> Rename Directory</a>
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderDelete?folderId={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-trash"></span> Delete Directory</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                          <tr>
                            <td>
                                @foreach(var groupItem in gridRow.FileGroups)
                                    {
                                        <div><a style="padding-top:0%; padding-bottom:0%" href="#" class="btn btn-link">@groupItem.Name</a></div>    
                                    }
                            </td>
                            <td>
                                @if(gridRow.FileHasAccountInfo)
                                    {
                                        <span style="margin-left:50%;margin-right:50%;" class="glyphicon glyphicon-ok"></span>    
                                    }                                    
                            </td>
                            <td>
                                <a href=@string.Format("/FileContents/FileContents?parentFolderId={0}", @gridRow.CurrentId) class="btn btn-link">
                                    @gridRow.FolderName
                                </a>
                            </td>
                            <td>
                                <p><span class="glyphicon glyphicon-font"></span> @gridRow.CountOfCharactersInFile Characters</p>
                                <p><span class="glyphicon glyphicon-list"></span> @gridRow.CountOfRowsInFile Lines </p>
                            </td>
                            <td>
                                <p>@gridRow.UpdatedTimeStamp.ToString()</p>
                            </td>
                            <td>
                                <p>@gridRow.CreatedTimeStamp.ToString()</p>
                            </td>
                            <td>
                                <div class="dropdown col">
                                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions
                                          </button>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-tags"></span> Tag Management</a>
                                          <div class="dropdown-divider"></div>  
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderMove?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-transfer"></span> Move File</a>
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderCreateRename?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-pencil"></span> Edit File</a>
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderDelete?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-trash"></span> Delete File</a>
                                          </div>
                                    </div>
                            </td>
                        </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
  </div>
</div>
