@model WebReferenceSite.Mvc.Models.FolderContentsViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@*<script src="~/jquery.fancytree/jquery.fancytree-all-deps.js"></script>
<link href="~/jqueryui" rel="stylesheet" />
<link href="~/jquery.fancytree/skin-win8-xxl/ui.fancytree.css" rel="stylesheet" />*@
@*<link href="~/jquery.fancytree/skin-win8/ui.fancytree.css" rel="stylesheet" />*@
  
  @{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="ViewContents">
    <h1>Folder Contents Page</h1>
@*
    Put PC view here
*@
<div  id="PcContents">
    @*<div id="nav-tree" data-source="ajax" class="sampletree" style="background-color:red;">*@
        <div id="path-tracker" >
           @* <form id="nav-form" method="post" asp-controller="FolderContents" asp-action="FolderContents">*@
                <div class="container">
                    <div class="row">
                        <div class="col big-box">
                            <textarea id="textarea-path" rows=3 style="overflow-y:scroll;" class="col">@Model.SelectedFolderPath</textarea>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="dropdown col" style="padding-left:0px;">
                                      <button type="button" class="btn btn-primary dropdown-toggle col-md-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Navigation Actions
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-folder-open"></span> Open Selected Directory</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-level-up"></span> Open Parent Directory</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-level-up"></span> Open Root Directory</a>                                       
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-tags"></span> Tag View</a>                                       
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-folder-open"></span><span class="glyphicon glyphicon-filter"></span> Show Folders and Files</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-folder-open"></span><span class="glyphicon glyphicon-filter"></span> Show Folders ONLY</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-file"></span><span class="glyphicon glyphicon-filter"></span> Show Files ONLY</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-folder-open"></span> CREATE Directory</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-file"></span> CREATE File</a>
                                      </div>
                                </div>
                            </div>
                            <div style="margin-right:5%;" class="row">
                                <input id="tag-input" placeholder="Tag Name" class="col-md-6" />
                            </div>
                        </div>
                    </div>
                </div>
            @*</form>*@
        </div>
        <div id="folder-contents">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-tags"></span> Group Membership</th>
                        <th>Has Account Info</th>
                        <th>
                            <div>
                                Title
                                <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href="#"><span class="glyphicon  glyphicon-sort-by-alphabet"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>Sort DESC</a>                              
                                        </div>
                                 </div>
                             </div>
                        </th>
                        <th>Contained Items</th>
                        <th>
                            Updated
                            <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Sort DESC</a>                              
                                        </div>
                            </div>
                        </th>
                        <th>
                            Created
                            <div class="dropdown col">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sort  
                                        </button>
                                        <div class="dropdown-menu">                                        
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>Sort ASC</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Sort DESC</a>                              
                                        </div>
                            </div>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FolderGridItemsViewModel gridRow in @Model.GridRows)
                    {
                        @if (gridRow.IsFolder)
                        {
                            <tr>
                                <td>
                                    <p></p>
                                </td>
                                <td>
                                    <p></p>
                                </td>
                                <td>
                                    <a href=@string.Format("/FolderContents/GetFolderContents?id={0}", gridRow.CurrentId) class="btn btn-link">
                                        @gridRow.Title
                                    </a>
                                </td>
                                <td>
                                    <p><span class="glyphicon glyphicon-folder-open"></span> @gridRow.CountOfFoldersContained Folders</p>
                                    <p><span class="glyphicon glyphicon-file"></span> @gridRow.CountOfFilesContained Files</p>
                                </td>
                                <td>
                                    <p>@gridRow.UpdatedTimeStamp.ToString()</p>
                                </td>
                                <td>
                                    <p>@gridRow.CreatedTimeStamp.ToString()</p>
                                </td>
                                <td>
                                    <div class="dropdown col">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu">                                      
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderMove?id={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-transfer"></span> Move Directory</a>
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderCreateRename?id={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-pencil"></span> Rename Directory</a>
                                            <a class="dropdown-item" href=@string.Format("/FolderContents/FolderDelete?id={0}", @gridRow.CurrentId)><span class="glyphicon glyphicon-trash"></span> Delete Directory</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                          <tr>
                            <td>
                                @foreach(var groupItem in gridRow.FileGroups)
                                    {
                                        <div><a style="padding-top:0%; padding-bottom:0%" href="#" class="btn btn-link">@groupItem.Name</a></div>    
                                    }
                                    
                                @*<div><a style="padding-top:0%; padding-bottom:0%" href="#" class="btn btn-link">Group2</a></div>*@
                            </td>
                            <td>
                                @if(gridRow.FileHasAccountInfo)
                                    {
                                        <span style="margin-left:50%;margin-right:50%;" class="glyphicon glyphicon-ok"></span>    
                                    }                                    
                            </td>
                            <td>
                                <a href=@string.Format("/FileContents/FileContents?id={0}", @gridRow.CurrentId) class="btn btn-link">
                                    @gridRow.Title
                                </a>
                            </td>
                            <td>
                                <p><span class="glyphicon glyphicon-font"></span> @gridRow.CountOfCharactersInFile Characters</p>
                                <p><span class="glyphicon glyphicon-list"></span> @gridRow.CountOfRowsInFile Lines </p>
                            </td>
                            <td>
                                <p>@gridRow.UpdatedTimeStamp.ToString()</p>
                            </td>
                            <td>
                                <p>@gridRow.CreatedTimeStamp.ToString()</p>
                            </td>
                            <td>
                                <div class="dropdown col">
                                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions
                                          </button>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-tags"></span> Tag Management</a>
                                          <div class="dropdown-divider"></div>  
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderMove?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-transfer"></span> Move File</a>
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderCreateRename?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-pencil"></span> Edit File</a>
                                            <a class="dropdown-item" href="@string.Format("/FolderContents/FolderDelete?id={0}", @gridRow.CurrentId)"><span class="glyphicon glyphicon-trash"></span> Delete File</a>
                                          </div>
                                    </div>
                            </td>
                        </tr>   
                        }
                    }
@*                    
                    <tr>
                        <td>
                            <div><a style="padding-top:0%; padding-bottom:0%" href="#" class="btn btn-link">Group1</a></div>
                             <div><a style="padding-top:0%; padding-bottom:0%" href="#" class="btn btn-link">Group2</a></div>
                        </td>
                        <td>
                            <span style="margin-left:50%;margin-right:50%;" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-link">
                                Open File
                            </a>
                        </td>
                        <td>
                            <p><span class="glyphicon glyphicon-font"></span> 14 Characters</p>
                            <p><span class="glyphicon glyphicon-list"></span> 14 Lines??</p>
                        </td>
                        <td>
                            <p>2019-10-31T03:58:22Z</p>
                        </td>
                        <td>
                            <p>2019-10-31T03:58:22Z</p>
                        </td>
                        <td>
                            <div class="dropdown col">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-tags"></span> Tag Management</a>
                                      <div class="dropdown-divider"></div>  
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-transfer"></span> Move File</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit File</a>
                                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-trash"></span> Delete File</a>
                                      </div>
                                </div>
                        </td>
                    </tr>
*@                </tbody>
            </table>
        </div>
  </div>
@*    <div id="pane-view" style="background-color:aqua;margin-left:25%;"></div>*@
</div>
@*
    Put mobile view here
*@
<div id="MobileContents">
    <div id="PaneView"></div>
</div>


<script type="text/javascript">
$(function () {
//      function lazyLoad(event, data) {
//          //if open child of current, allow---else collapse all but current node--self if open then close
//          //who am i?
//          data.result = $.ajax({
//            url: "/FolderContents/GetFancyTreeNode",//"/FolderContents/GetFancyTreeNode?key=%s"
//            data: {key: data.node.key}
//            //success: function(data) {
//            //display_false()
//            //alert(4 - "returned");
//            //}
//        })
//      //switch (data.node.key) {
//      //  case "ajax":
//      //      data.result = { url: "/FolderContents/GetFancyTreeRoot/" /*, debugDelay: 5000*/ };
//      //    //data.result = $.ajax({
//      //    //  url: "https://wwwendt.de/tech/fancytree/demo/ajax-sub2.json",
//      //    //  dataType: "json"
//      //    //  });
//      //    break;
//      //  case "custom":
//      //    data.result = $.Deferred(function (dfd) {
//      //      setTimeout(function () {
//      //        dfd.resolve([
//      //          { title: "Sub item 1" },
//      //          { title: "Sub item 2" }
//      //        ]);
//      //      }, 1000);
//      //    });
//      //    break;
//      //  case "ajax-error":
//      //    data.result = { url: "not-found.json" };
//      //    break;
//      //  case "custom-error":
//      //    data.result = $.Deferred(function (dfd) {
//      //      setTimeout(function () {
//      //        dfd.reject(new Error("TEST ERROR"));
//      //      }, 1000);
//      //    });
//      //    break;
//      //  default:
//      //    data.result = [];
//      //}
//    }

//    $("#nav-tree").fancytree
//    ({
//        source: $.ajax({
//            url: "/FolderContents/GetFancyTreeNode"//,
//            //dataType: "json"
//        }),
//        ajax: { debugDelay: 1000 },
//        //minExpandLevel: 0,
//        //postinit: function(isReloading, isError) {
//        //    this.reactivate();
//        //},
//        //focus: function(event, data) {
//        //    // Auto-activate focused node after 2 seconds
//        //    data.node.scheduleAction("activate", 2000);
//        //},
//        activate: function(event, data) 
//        {
//            alert("activated");
//            var node = data.node;
//            /* Use <a> href and target attributes to load the content:*/
//            if( node.data.href )
//            {
//                /*open in same tab*/
//                window.location=node.data.href;
//                /* Open target in NEW Tab */
//                //window.open(node.data.href, node.data.target);
//                /* or open target in iframe */
//                //$("[name=contentFrame]").attr("src", node.data.href);
//            }
//        },
//        lazyLoad: lazyLoad
//    });
//});
</script>